{% extends 'base.html' %}
{% load staticfiles %}

{% block sidebar %}
    <div class="list-group">
        {% for category in categories %}
            <a href="{{ category.get_absolute_url }}" class="list-group-item list-group-item-action">{{ category }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    <ul>
        {% for product in object_list %}
            <a href="{% url 'products:product_detail' product.category.slug product.id %}">
                <li class="card" style="width: 18rem;">
                    <img src="{% static 'img/image.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        {% if user.is_authenticated %}
                            <a href="{% url 'orders:add_to_cart' product.id %}" class="btn btn-primary">Добавить в корзину</a>
                        {% endif %}
                    </div>
                </li>
            </a>
        {% endfor %}
    </ul>
{% endblock %}