{% extends 'base.html' %}

{% block content %}
    <ul class="list-group">
        <li class="list-group-item border-0">
            {{ object.name }}
        </li>
        <li class="list-group-item border-0">
            {{ object.description }}
        </li>
        <li class="list-group-item border-0">
            {{ object.category }}
        </li>
        <li class="list-group-item border-0">
            {{ object.brand }}
        </li>
        <li class="list-group-item border-0">
            {{ object.price }}
        </li>
        <li class="list-group-item border-0">
            {% if object.available %}
                Есть на складе
            {% else %}
                Нет на складе
            {% endif %}
        </li>
    </ul>
{% endblock %}