{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col">
            <h4>Коризна</h4>
            {% if request.session.cart %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Товар</th>
                            <th>Количество</th>
                            <th>Цена</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product_tuple in cart_products %}
                            <tr>
                                <td><a href="{{ product_tuple.0.get_absolute_url }}">{{ product_tuple.0 }}</a></td>
                                <td>{{ product_tuple.1 }}</td>
                                <td>{{ product_tuple.0.price }}</td>
                                <td><a href="{% url 'orders:delete_from_cart' product_tuple.0.pk %}">Удалить</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Ваша корзина пуста</p>
            {% endif %}
            <form action="{% url 'orders:create' %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Сделать заказ" class="btn btn-primary">
            </form>
        </div>
    </div>
{% endblock %}